
# General

*.zip
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Frontend (Vite / React)

node_modules/
dist/
dist-ssr/
.env
.env.*
!.env.example


# Backend (Spring Boot)

target/
src/main/resources/application.properties
src/main/resources/application.yml
src/main/resources/*.env
.env

# Project structure

CompatX/


# Editor / OS

.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local
